<!DOCTYPE html>
<html lang="en">
<head>
    <center><h1>Please Sign In</h1></center>
    <title>Login Page</title>
</head>

<header>
    <form method=post action="/register">
        <center>
        <dl>
            <dt><label for="username">Username</label>
            <dd><input id="username" name="username" type="text" value="">

            </dd>


            <dt><label for="email">Email Address</label>
            <dd><input id="email" name="email" type="text" value="">

            </dd>


            <dt><label for="password">New Password</label>
            <dd><input id="password" name="password" type="password" value="">

            </dd>


            <dt><label for="confirm">Repeat Password</label>
            <dd><input id="confirm" name="confirm" type="password" value="">

            </dd>

        </dl>
        <p><input type=submit value=Register>
            </center>
    </form>

</header>

<body>

</body>

</html>
