<!DOCTYPE html>
<html lang="en">
<head>
    <center><h1>Enter a Username to begin playing</h1></center>
    <title>Color Splash Tag</title>
    <link rel="shortcut icon" type="image/png" href="http://www.i2clipart.com/force_download.php?file=/cliparts/c/f/d/9/256225cfd9427dc955676ee12b5ac2b398c378.png"/>
</head>

<header>
    <form method=post action="/register">
        <center>
        <dl>
            <dt><label for="username">Username</label>
            <dd><input id="username" name="username" type="text" value="">

            </dd>


        </dl>
        <p><input type=submit value=Play!>
            </center>
    </form>

</header>

<body>

</body>

</html>
